* {
  border: none;
  border-radius: 0;
  font-family: Input, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #161616;
  color: #cccccc;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #cccccc;
}

#workspaces button.focused {
  background: #353535;
}

.modules-right label {
  padding: 0 5px;
  margin-left: 5px;
}

.critical {
  background: #d62d20;
}

.warning {
  background: #da8200;
}

#mode {
  background: #64727d;
}

#battery.charging {
  background-color: #004e2c;
}

#pulseaudio:not(.source-muted) {
  background-color: #004e2c;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
